.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar


### custom ###
/data/questions

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### VS Code ###
.vscode/

### Eclipse IDE ###
.classpath
.project
.settings/
